@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    border-color: #33373a;
}

body {
    font-family: 'Exo', sans-serif;  
    
}

h1 {
    background-color: #0e0d0d80;
    color: #fafafa;
    text-align: center;
    border-top: 30%;
    padding-top: 1px;
    display: inline-block;
}

header {
    height: 40em;
    width: 100%;
}

div {
    margin: 0px;
}


/* nav {
    background-color: #020202;    
}

nav a {
    color: black;
} */



footer {
    padding-left: 2%;
    padding-top: 2em;
    padding-bottom: 2%;
    background-color: chocolate;
    margin: 0px;
}

footer h5 {
    font-size: 80%;
    font-family: 'Play';
    color: #fafafa;
}

#home-icon {
    font-family: 'Exo';
    color: #555555;
    margin-left: 10px;
    vertical-align: auto;
    display: inline;
}

#intro-section {
    padding: 5%;
    font-size: 2em;
    color: #fafafa;
    background-color: chocolate;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-bottom: 0;
}

#hero-div {
    height: 40em;
    width: 100%;
}

#hero-image {
    display: block;
    text-align: center;
    height: 40em;
    width: 100%;
    background: url("../img/boxing-ring-hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#hero-image p {
    color: #fafafa;
    text-align: center;
    background-color: #0e0d0d99;
    display: inline-block;
    padding-left: 10px;    
    padding-right: 10px;
}

#main-content {
    display: block;
}

#sign-up-button {
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fafafa;
    background-color: rgb(46, 141, 46);
    text-decoration: none;
}

#sign-up-button-wrapper {
    margin-top: 10px;
}

#contact-banner {
    margin-top: 6em;
    z-index: 2;
    font-size: 3em;
}

.nav-right {
    display: inline-block;
}

.nav-column {
    display: block;
}

.spacer {
    height: 400px;
    width:  100%;
}

#hero-button {
    display: inline-block;
}

.book-session {
    font-size: 0.8em;
    padding-left: 1em;
    padding-top: 2em;
    color: #fafafa;
    background-color: chocolate;
    display: inline-block;
    padding: 3em;    
    width: 100%;
}

.book-session h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fa-dumbbell {
    padding-left: 2%;
}

.text-input {
    padding-left: 0.5em;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    border-width: 1px;  
    border-style: solid; 
    border-radius: 2px;
}

.text-input:hover {
    background: #dad8d8;
}

/* #boxercise {
    display: block;
}

#enduro {
    display: inline-block;
} */

.submit-training-button {
    margin-top: 3em;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    font-size: 1.5em;
    background: rgb(46, 141, 46);
    color: #fafafa;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #555555;
}

.submit-training-button:hover {
    border-color: #180808;
}


/*   Radio Button Styling  - with thanks and appreciation to MarkHeath.net for the coding example */

.book-session input[name="session-choice"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.book-session label[class="radio-label-training"] {
    display: inline-block;
    background-color: rgb(54, 52, 52);
    padding: 5px 10px;
    font-family: 'Exo', sans-serif, Arial;
    font-size: 1em;
    border: 2px solid #444;
    border-radius: 4px;
}

.book-session input[name="session-choice"]:checked + label {
    background-color:#bfb;
    border-color: #4c4;
    color: black;
}

.book-session input[name="session-choice"]:focus + label {
    border: 2px solid #444;
}

.book-session p{
    font-size: 1.1em;
}

/*   End of Radio Button styling */




#adults-boxing-image {
    height: 20em;
    width: 100%;
    background: url("../img/two-men-sparring.jpg") no-repeat center center;
    background-size: cover;
}

#child-boxing-image {
    height: 20em;
    width: 100%;
    background: url("../img/young-girl-in-boxing-stance.jpg") no-repeat center center;
    background-size: cover;
}

#fitness-session-image {
    height: 20em;
    width: 100%;
    background: url("../img/fitness-session-image.jpg") no-repeat center center;
    background-size: cover;
}

/* #contact-us {
    padding-left: 7em;
} */

#contact-us p {
    margin: 0;
}

#contact-us h3 {
    padding-top: 1.2em
}

#contact-us row {
    display: block;
}

#address {
    padding-top: 1em;
}

#map {
    height: 395px;
}

.days-of-week, .opening-times {
    display: inline-block;
    font-size: 100%;
}

.days-of-week {
    width: 7em;
}

#contact-text-block {
    text-align: center;
}

.col, .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
    
}

.session-box {
    /* padding-top: 3%;
    padding-bottom: 3%; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.session-box h3 {
    padding-top: 3%;
}

/* .class-times {
    padding-top: 5%;
} */

.class-times h3, .class-times h4 {
    text-align: center;    
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.booking-details-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-details-box a {
    text-transform: uppercase;
    font-size: larger;
}

.booking-details-button {
    padding: 20px;
    border-width: 3px;
    border-style: solid;
}

.social-media li {
    display: inline;
    color: #fafafa;  
}

.social-media i {
    font-size: 120%;
    color: #fafafa;
    padding-right: 2%;   
    padding-top: 0.5%; 
}

@media screen and (max-width: 576px) {
.session-box {
    padding-top: 2em;
    padding-bottom: 2em;}
}

@media screen and (max-width: 576px) {
.class-times h4{
    font-size: 1.1em;}
}

@media screen and (max-width: 767px) {
    .flex-container {
    display: flex;
    flex-direction: column-reverse;}
}

@media screen and (max-width: 768px) {
    #contact-us {
    /* padding-left: 2em; */
    padding-bottom: 2em;
}