#hero-image {
    height: 400px;
    width: 100%;
    background: url("../img/david-guliciuc-o2zrjlM5s5o-unsplash.jpg") no-repeat center center;
    background-size: cover;
}

h1 {
    color: #fafafa;
    text-align: center;
    padding-top: 230px;
}

#hero-image p {
    color: #fafafa;
    text-align: center;
}
