h1 {
    background-color: #0e0d0d80;
    color: #fafafa;
    text-align: center;
    border-top: 30%;
    padding-top: 1px;
    display: inline-block;
}

header {
    height: 40em;
    width: 100%;

}

#hero-div {
    height: 40em;
    width: 100%;
}

#hero-image {
    display: block;
    text-align: center;
    height: 40em;
    width: 100%;
    background: url("../img/david-guliciuc-o2zrjlM5s5o-unsplash.jpg") no-repeat center center;
    background-size: cover;
}

#hero-image p {
    color: #fafafa;
    text-align: center;
    background-color: #0e0d0d99;
    display: inline-block;
    padding-left: 10px;    
    padding-right: 10px;
}

#main-content {
    display: block;
}

.nav-right {
    display: inline-block;
}

.nav-column {
    display: block;
}


/* nav {
    background-color: #db222280;
}

.brand {
    color: #fafafa;
    font-size: 115%;
    text-decoration: none;
} */

.spacer {
    height: 400px;
    width:  100%;
}

#hero-button {
    display: inline-block;
}